.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
    margin-top:2rem;
  }

  @include breakpoint(medium) {
    @include grid-column(3);
    margin-top: 1rem;
    float: left !important;
  }
	@media screen and (min-width: 640px) and (max-width: 1200px){
		    @include grid-column(4);

	}
}
