@-webkit-keyframes pulse {
    from { text-shadow: 0px 0px 1px rgba(128,179,29,0.1); }
    to { text-shadow: 0px 0px 10px rgba(128,179,29,1);  }
}
@-moz-keyframes pulse {
    from { text-shadow: 0px 0px 1px rgba(128,179,29,0.1); }
    to { text-shadow: 0px 0px 11px rgba(128,179,29,0.9);  }
}
@keyframes pulse {
    from { text-shadow: 0px 0px 1px rgba(128,179,29,0.1); }
    to { text-shadow: 0px 0px 10px rgba(128,179,29,1);  }
}
@-webkit-keyframes flash {
    from { opacity: 1; }
    to { opacity: 0.3;  }
}
@-moz-keyframes flash {
    from { opacity: 1; }
    to { opacity: 0.3;  }
}
@keyframes flash {
    from { opacity: 1; }
    to { opacity: 0.3;  }
}

@-webkit-keyframes grow1 {
    0% { width: 0; }
    25% { width: 50px;  }
    100% { width: 50px;  }
}
@-moz-keyframes grow1 {
    0% { width: 0; }
    25% { width: 50px;  }
    100% { width: 50px;  }
}
@keyframes grow1 {
    0% { width: 0; }
    25% { width: 50px;  }
    100% { width: 50px;  }
}

@-webkit-keyframes grow2 {
    0% { width: 0; }
    25% { width: 0px;  }
    50% { width: 50px;  }
    100% { width: 50px;  }
}
@-moz-keyframes grow2 {
    0% { width: 0; }
    25% { width: 0px;  }
    50% { width: 50px;  }
    100% { width: 50px;  }
}
@keyframes grow2 {
    0% { width: 0; }
    25% { width: 0px;  }
    50% { width: 50px;  }
    100% { width: 50px;  }
}

@-webkit-keyframes grow3 {
    0% { width: 0; }
    50% { width: 0px;  }
    75% { width: 50px;  }
    100% { width: 50px;  }
}
@-moz-keyframes grow3 {
    0% { width: 0; }
    50% { width: 0px;  }
    75% { width: 50px;  }
    100% { width: 50px;  }
}
@keyframes grow3 {
    0% { width: 0; }
    50% { width: 0px;  }
    75% { width: 50px;  }
    100% { width: 50px;  }
}
